ultralytics==8.3.163
motrackers==0.0.2
numpy==2.0.2
matplotlib==3.10.0
opencv-python==4.11.0.86
pillow==11.2.1
pyyaml==6.0.2
requests==2.32.3
scipy==1.15.3
torch==2.6.0+cu124
torchvision==0.21.0+cu124
tqdm==4.67.1
pandas==2.2.2
psutil==5.9.5
librosa==0.11.0
huggingface_hub==0.26.0
